html {
    scroll-behavior: smooth;
    transition: scroll-behavior 1s ease;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    padding-top: 70px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000;
}
.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 40px;      
    width: auto;
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li{
	padding: 10px;
	border-radius: 5px;
	transition: all 0.3s;
}


.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-links li:hover a {
    color: white;
}


.nav-links li:hover{
	padding: 10px;
	background-color: rgb(26, 123, 186);
	border-radius: 5px;
	color: white;
}


.menu-toggle {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.grid-home{
	display: grid;
}

.grid-home img{
	width: 100%;
}


.grid-about{
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	scroll-margin-top: 73px;
}
.about-item {
	width: 50%;
	padding: 20px;
	border-radius: 8px;
	
}
.about-item img{
	width: 100%;
	border-radius: 10px;
}

.about-item h1{
	margin-bottom: 10px;
}
.about-item p{
	line-height: 30px;
	text-align: justify;
	margin-top: 10px;
}


.grid-account {
    text-align: center;
    padding: 30px;
	height: 100vh;
	scroll-margin-top: 73px;
}
.account-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.account-card {
    display: inline-block;
    width: 280px;
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.account-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: rgb(1, 124, 194);
}


.account-card:hover h2,
.account-card:hover p {
    color: white;
}
.account-card img{
	width: 100%;
}

.account-card h2 {
    font-size: 18px;
    color: #333;
}

.account-card p {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}

.business-button {
  background-color: rgb(1, 124, 194);
  color: white;
  border: none;
  padding: 10px 16px;
  margin: 16px auto;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.business-button:hover {
  background-color: #0056b3;
}



.grid-gallery{
	text-align: center;
    padding: 30px;
	scroll-margin-top: 73px;
}

.gallery-title {
    font-size: 30px;
    color: #004080;
    margin-bottom: 20px;
    text-align: center;
}

.slideshow {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

video{
	margin-top: 15px;
	border-radius: 10px;
}

.slides {
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide 12s infinite;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

.grid-contact {
    padding: 30px;
    text-align: center;
	height: 100vh;
	scroll-margin-top: 73px;
}
.contact-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}
.grid-item {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}
.grid-item h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
.grid-form label {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    text-align: left;
    display: block;
}
.grid-form input, .grid-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}
.grid-form textarea {
    resize: vertical;
}
.grid-form button {
    width: 25%;
    padding: 12px;
    background-color: rgb(1, 124, 194);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
	transition: 0.3s;
}
.grid-form input:focus, textarea:focus{
	border-color: rgb(1, 124, 194);
	outline: none;
	box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
.grid-form button:hover {
    background-color: #0056b3;
}


footer {
    background-color: rgb(1, 124, 194);
    color: black;
    text-align: center;
    padding: 20px;
	margin-top: 100px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
	padding: 10px;
}
.footer-content p, span{
    color: white;
	font-size: 15px;
}
.social-links{
	padding: 30px;
}
.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.social-links a:hover {
    text-decoration: underline;
}
.scroll{
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 20px;
	color: black;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
}

.scroll:hover{
	background-color: #0056b3;
	color: white;
}

/* Responsive */
@media (max-width: 768px) {
	
    .logo img {
        height: 32px;
    }


    .menu-toggle {
        display: block;
    }
	
	.menu-toggle i{
		color: rgb(26, 123, 186);
	}

    .nav-links {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: rgb(26, 123, 186);
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }
	
	.nav-links a{
		color: white;
	}
	.nav-links a:hover{
		color: white;
		text-shadow: 2px 2px 5px white;
	}


    .nav-links.active {
        max-height: 350px;
    }

    .nav-links li {
        margin: 15px 0;
    }
	
	.grid-about {
        flex-direction: column;
        height: auto;
    }

    .about-item {
        width: 100%;
        padding: 15px;
    }

    .about-item h1 {
        font-size: 22px;
    }

    .about-item p {
        font-size: 15px;
        line-height: 26px;
    }

    /* Account Section */
    .grid-account {
        height: auto;
        
    }

    .account-card {
        width: 100%;
        margin: 10px 0;
    }

    /* Gallery */
    .slideshow {
        height: 60vh;
    }

    video {
        width: 100%;
    }

    /* Contact */
    .grid-item {
        padding: 20px;
    }

    .grid-form button {
        width: 60%;
    }

    /* Footer */
    .footer-content p {
        font-size: 14px;
    }
	
}
